.banner{
    background-image: linear-gradient( rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.342)), url("../../../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.banner h1{
    font-size: 80px;
    color: #fff;
    line-height: 1.4;
} 
.banner p{
    font-size: 24px;
    color: #fff;
}
.banner-content{
    padding: 150px 0;
}
.donation-title h6{
  background-color: transparent;
  padding: 0 20px;
  border-right : 1px solid tomato;
}
